*{
  background-color: #0a0b42;
  text-align: center;
}
h1{
  color:#f0f33d;
  font-size: 100px;
  margin-bottom: 10px;
}
.navBar button{
  color: #0a0b42;
  background-color: #f0f33d;
  width: 200px;
  height: 30px;
  margin: 2px;
}
.Item h2{
  color: #f0f33d;

}
.cart{
  color: #f0f33d;
  margin: 5px;
}